.dashboard
  h1, h2
    text-align: center
  .bar-graph
    p
      font-size: 14px
      &.x-axis-label
        text-align: right

  .fill-chart
    text-align: center

  .data-box, .fill-chart-data-box
    text-align: center
    ul
      padding: 0
      li
        list-style-type: none

  .line-graph
    .hover-box
      padding: 10px 5px
      p
        margin: 0